/* Color Theme Swatches in Hex */
.GALLITO-BARBÓN-1-hex { color: #3C3940; }
.GALLITO-BARBÓN-2-hex { color: #011126; }
.GALLITO-BARBÓN-3-hex { color: #F2865E; }
.GALLITO-BARBÓN-4-hex { color: #8C5C4A; }
.GALLITO-BARBÓN-5-hex { color: #F2A488; }


body{
    margin: 0;
    padding: 0;
}

/*PRODUCTOS*/

/* HEADER PRODUCTOS*/

header{
    background-color: #011126;
    padding: 10px 0;
    box-sizing: border-box;
}

.caja{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px auto;
    width: 70%;
}

nav{
    display: flex;
    align-items: center;
}

nav li{
    display: inline;
    margin: 10px;
}

nav a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
}

nav a:hover{
    color: #F2865E;
}

/* MAIN PRODUCTOS*/
.productos{
    width: 90%;
    margin: 20px ;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.productos li{
    text-align: center;
    width: 30%;
    margin: 20px;
    padding: 20px;
    border: 2px solid #3C3940;
    border-radius: 30px;
}

.productos li:hover{
    border-color: #F2865E;
}

.productos li:active{
    border: 3px solid #011126;
}

.productos h2{
    font-size: 26px;
    font-family: sans-serif;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 28px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

/* FOOTER PRODUCTOS*/

footer{
    text-align: center;
    background-color: #011126;
    color: white;
    padding: 40px;
}

footer img{
    width:10%;
    min-width: 50px;
}
.copyright{
    font-size: 13px;
    margin: 10px;
}

/* CONTACTOS */

/* HEADER CONTACTOS */

main {
    width: 70%;
    margin: 0 auto;
}

form{
    padding: 30px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar{
    position: relative;
    right: 0;
    width: 50%;
    padding: 15px 0;
    font-size: 18px;
    color: white;
    background-color: #8C5C4A;
    border: none;
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer;
}
.enviar:hover{
    background: #011126;
}

table {
    margin: 10px 40px;
}

thead {
    background: #011126;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 35px;
}

/* INDEX */

#banner{
    width: 100%;
    padding: 5px 0;
}

.principal{
    padding: 20px 100px;
    outline: 1px solid #F2A488;
    outline-offset: -10px;
}

.titulo-centralizado{
    text-align: center;
    padding: 0 20px;
    margin: 20px;
    font-size: 30px;
}

.principal p{
    font-size: 20px;
    font-family: sans-serif;
    line-height: 25px;
}
.principal p strong{
    font-weight: bold;
}

.principal #mision{
    font-size: 24px;
    text-align: center;
    padding: 15px;
    font-family: serif;
    font-style: italic;
}

.principal em strong{
    color: #F2865E;
}

.diferenciales{
    background-color: white;
    padding: 20px;
}

.items{
    font-style: italic;
}

.imagenDiferenciales{
    width: 50%;
}
.lista-diferenciales ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}