/* body{

} */

#banner{
    width: 100%;
}

.principal{
    background-color: rgb(255, 197, 255);
    padding: 20px;
}

h1{
    text-align: center;
    height: 150px;
    border: 10px solid black;
    padding: 20px;
    margin: 40px;
}

p{
    font-size: 20px;
}

#mision{
    font-size: 24px;
}

em strong{
    color: brown;
}
.diferenciales{
    background-color: white;
    padding: 20px;
}

h2{
    text-align: center;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}